
Frequency Counter

Write a function that takes a list and returns a dictionary of counts.
The result should be a dictionary where
    Each key is a unique element of the list.
    Each value refers to how many times that key appears in the list.

    [1, 2, 2, 3, 4]

    {1: 1, 
     2: 2,
     3: 1,
     4: 1 }